:root {
    --primary: rgb(196, 235, 22);
    --secondary: black;
    --tertiary:white;
}

.footer {
    background-color: black;
    height: 2rem;
    display: flex;
    justify-content: start;
    align-items: center; 
}

footer p {
    color: var(--tertiary);
    font-size: .6rem;
    margin-left: 2rem;
}

.linkToSilvia {
    text-decoration: none;
    color: var(--tertiary);
}

@media(max-width: 960px) {
    .footer {
        justify-content: center;
    }
}